h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}
:root {
    --blue: #2196F3;
    --grey-light: #757575;
    --grey-darck: #2F303A;
    --white: #ffffff;
    --secondwhite: #F5F4FA;
    --black: #000000;
    --secondblack: #212121;
} 
body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--grey-light);
    font-style: normal;
}
a {
    text-decoration: none;
    font-style: normal; 
}
body button {
    cursor: pointer;
}
.list{
    list-style: none;
}
.padge-header {
    background-color: var(--white);
    color: var(--secondblack);
}
.logo {
    color: var(--black);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;       
}
.logo-footer {
    color: var(--white);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    }
.accent {
    color: var(--blue);
}
.site-nav a {
    color: var(--secondblack);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}
.site-nav a:hover, .site-nav a:focus {
    color: var(--blue);
}
.auth-nav a {
    color: var(--grey-light);
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}
.auth-nav a:hover, .auth-nav a:focus {
    color: var(--blue);
}
.hero {
    background-color: var(--grey-darck);
    color: var(--white);
    letter-spacing: 0.06em;
}
.hero-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    line-height: 1.2;      
}
.hero button {
    background-color: var(--blue);
    color: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.06em;
}

.benefits-title, .projects-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    margin: -1px;
} 
.benefit-name {
    text-transform: uppercase;
    color: var(--secondblack);
    font-size: 14px;
    line-height: 1.2;
}
.benefits-list {
    font-size: 14px;
    line-height: 1.2;
}
.activity h2 {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--secondblack);
}
.team {
    background-color: var(--secondwhite);
}
.team-title {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--secondblack);
}
.team-list h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--secondblack);
}
.team-list p {
    font-size: 16px;
    line-height: 1.2;
    color: var(--grey-light);
}
footer {
    background-color: var(--grey-darck);
}
.location a {
    font-size: 14px;
    line-height: 1.2;
    color: var(--white);
}
.email a,
.tel a {
    font-size: 14px;
    line-height: 1.2;
    color: var(--white);
    opacity: 0.6;
}
.filters button {
    background-color: var(--secondwhite) ;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondblack);
}
.filters button:hover, .filters button:focus {
    color: var(--white);
    background-color: var(--blue);
}
.projects-list h2 {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    color: var(--secondblack);
}
.projects-list p {
    font-size: 16px;
    line-height: 1.2;
}
.studio-title {
    text-transform: uppercase;
    color: var(--blue);
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    line-height: 1.2;
}